@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Gothic&display=swap');

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 2px solid rgb(224,171,0);
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.frase {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    display: none;
    font-family: "Anton", sans-serif;
}

.frase.active {
    display: block;
}

.anterior, .proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.anterior {
    left: 10px;
}

.proximo {
    right: 10px;
}